/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;	
}

.center {
	width: 50%; /*--- this is for responsive ---*/
	min-width: 300px; /*--- this is for responsive ---*/
	padding: 2%;
    margin: 100px auto;
	margin-top: 50px;
 	background: rgba(255, 235, 190, 0.65); /*this uses opacity of 65% for the background color*/
	text-align: center;
	border-radius: 50px 50px 50px 50px;
	animation: fadeIn 7s;
	-webkit-animation: fadeIn 7s;
}

   
#logo {
	width: 50%;/*--- this is for responsiveness ---*/
    margin-top: 200px; /*-- this separates logo and div --*/
	margin-bottom: 5px; /*-- this separates logo and div --*/
	text-align: center;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #845332;
}

/*h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	/*font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;*/

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: #000000;
}
nav{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
	width: 500px;
	margin: 0 auto;
	/*border: line turquoise;
	border-width: 3px 0;*/
	text-align: center;
	margin-top: 2em;
	position: fixed;
	top: 0; 
	right: 0;
}

nav li{
	display: inline;
	}

nav a{
	display: inline-block;
	padding: 10px;
	}

a{
	color: #553601;
	text-decoration: none;
	font-weight: bold;
	}

a:hover{
	color: rgb(255, 239, 219);
	background: rgb(208, 126, 43);
	}    
    

